{% extends "usuarios/login.html" %}
{% load custom_filters %}

{% block titulo %}Listado de ventas{% endblock titulo %}

{% block contenido %}
    <h2>Listado de ventas</h2>

    <form method="get">
        {{ filtro_form.desde.label_tag }} {{ filtro_form.desde }}
        {{ filtro_form.hasta.label_tag }} {{ filtro_form.hasta }}
        <button type="sumbit">Filtrar</button>
    </form>
    
    {% if ventas_agrupadas %}
        {% for fecha, turnos in ventas_agrupadas.items %}
            <div>
                <h3>Fecha: {{ fecha }}</h3>
                {% for turno, usuarios in turnos.items %}
                    {% for usuario, ventas in usuarios.items %}
                        <h4>Turno: {{ turno }} - {{ usuario }}</h4>
                        {% for venta in ventas %}
                            <ul>
                                {% for item in venta.items.all %}
                                    <li>{{ item.producto }} x{{ item.cantidad }} - ${{ item.cantidad|multiply:item.precio }}</li>
                                {% endfor %}
                            </ul>
                            <p>Total a cobrar: ${{ venta.total_a_cobrar }}
                            <p>Total cobrado: ${{ venta.total_cobrado }} - Método de pago: {{ venta.get_metodo_pago_display }}</p>
                            {% if venta.cuenta_transferencia %}
                                <p>Cuenta de transferencia: {{ venta.cuenta_transferencia }}</p>
                            {% endif %}
                            <hr>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <p>No hay ventas para el período seleccionado.</p>
    {% endif %}
{% endblock contenido %}