{% extends "usuarios/login.html" %}

{% block titulo %}Registrar ventas{% endblock titulo %}

{% block contenido %}
    <div>
        <h2>Registrar ventas</h2>
        {% if messages %}
            {% for message in messages %}
                <div class="mensajes">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Registrar venta</button>
        </form>
    </div>
{% endblock contenido %}

