<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Registro de ventas{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Registro Ventas</h1>
        <nav>
            <a href="/">Inicio</a>
            {% if user.is_authenticated %}
            <form method='post' action="{% url 'logout' %}">
                {% csrf_token %}
                <button type='submit'>Cerrar sesión</button>
            </form>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block contenido %}

        <!-- Formulario de login -->
        <div id="login-form">
            <form method="post">
                {% csrf_token %}

                <label>Email o Celular</label><br>
                {{ form.identificador }}<br>

                <label>Contraseña</label><br>
                {{ form.password }}<br>

                {% if form.non_field_errors %}
                    <p style="color:red;">{{ form.non_field_errors.0 }}</p>
                {% endif %}

                <button type="submit">Iniciar sesión</button>
            </form>
        </div>        
        {% endblock %}
    </main>
</body>
</html>