{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}La Tienda Colectiva Patagónica{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'img/logo_tienda.png' %}" alt='La Tienda Logo' class='logo'/>
        <h1 class="titulo">{% block titulo_h1 %}La Tienda Colectiva Patagónica{% endblock %}</h1>
        <nav>
            <a href="/">Inicio</a>
            {% if user.is_authenticated %}
                <a href="{% url 'perfil' %}">Perfil</a>
                <a href="{% url 'logout' %}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                    Cerrar sesión
                </a>
                <form id="logout-form" method="post" action="{% url 'logout' %}" style="display:none;">
                    {% csrf_token %}
                </form>
            {% else %}
                <a href="{% url 'login' %}">Usuarios</a>
            {% endif %}
        </nav>
    </header>
    <div class="container">
        {% if user.is_authenticated %}
            <aside class="menu-sidebar">
                <ul>
                    {% if user.is_superuser %}
                        <li><a href="{% url 'signup' %}">Registrar usuario</a></li>
                    {% endif %}
                    <li><a href="{% url 'venta' %}">Registrar ventas</a></li>
                </ul>
            </aside>
        {% endif %}
        <main>
            {% block contenido %}
            {% endblock %}
        </main>
    </div>
    <footer>
        La Tienda Colectiva Patagónica
    </footer>
</body>
</html>