{% extends "base.html" %}

{% block titulo %}Panel de usuarios{% endblock %}
{% block titulo_h1 %}Panel de usuario{% endblock %}

{% block contenido %}
    <!-- Formulario de login -->
    <div id="login-form">
        <form method="post">
            {% csrf_token %}

            <label>Usuario</label>
            {{ form.identificador }}

            <label>Contraseña</label>
            {{ form.password }}

            {% if form.non_field_errors %}
                <p style="color:red;">{{ form.non_field_errors.0 }}</p>
            {% endif %}

            <button type="submit">Iniciar sesión</button>
        </form>
    </div>        
{% endblock %}